:root {
    --background-colour: #dcdcdd;
    --header-colour: #1985A1;
    --primary-text-colour: #4C5C68;
    --secondary-text-colour: #46494C;
}

/* TODO: 
- Create a flex box container to have "in-touch" and "contact" sections inline with one another on the same row. 
- When clicking on the 'mywork' tab, have a hover effect with text and when clicked on have it link to my pervious deployed assignment
- Add in my contact information, have the emojies of linkedin and github be clickable links to my profile (_target links)
- Have a scroll to the top button at the bottom right of the page appear when scrolling the page 
- Have media queries adjust all elements of the page - like having a dropdown emojie appear for the nav links when it gets to a certain screen size 
- Make h1 a link to reload the page
- Where does the submitted information go?
*/

::selection {
    background-color: var(--primary-text-colour);
    color: var(--background-colour);
}

/* ------------------------- Element Selectors ------------------------- */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter','SF Pro Text','SF Pro Icons','Helvetica Neue','Helvetica','Arial', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--primary-text-colour);
    background-color: var(--background-colour);
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.65rem;
    color: var(--header-colour);
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}
  
p {
    font-size: 2.5rem;
    color: var(--primary-text-colour);
}

/* ------------------------- Header stylings ------------------------- */
header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}

header div h1.title {
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
}

.title {
    display: flex;
}

/* Hover effect on the title of the page, will also reload the page */
.surname {
    opacity: 0;
    transition: 400ms ease-in-out;
    margin-left: 9px;
    color: var(--secondary-text-colour);
}

.title:hover .surname {
    opacity: 1;
}

/* Hover effect on nav links */
.nav-link {
    color: var(--header-colour);
    margin: 25px;
    padding: 10px;
}

.nav-link:hover {
    opacity: .65;
    transition: padding 250ms ease-in-out, opacity .2s ease-in-out;
    color: var(--secondary-text-colour);
    line-height: 29px;
    font-weight: 400;
}

/* nav:before {
    opacity: 0;
}
nav:after {
    clear: both;
}

nav:after, nav:before {
    content: " ";
    display: flex;
} */

main {
    width: 96%;
    margin: 2rem auto;
}

footer {
    margin: 1.5rem;
    text-align: center;
}

ul {
    display: flex;
}

a {
    text-decoration: none;
    font-size: 4rem;
    color: var(--header-colour);
}

section {
    position: relative;
    padding-bottom: 50px;
}

form {
    border: 2px solid var(--header-colour);
}

label {
    display: block;
}

/* ------------------------- Main section stylings -----------------------*/
.workflow {
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.wrapper {
    width: 85%;
    margin: inherit auto;
}

.sections {
    margin: 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
}

.section p {
    width: 70%;
}


.sections > h2 {
    text-align: right;
    padding-right: 1rem;
    flex: 0 0 15%;
    border-right: 3px solid var(--header-colour);
    line-height: 5vw;
    font-size: 3.5rem;
}

.sections div {
    flex: 0 0 84%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.seo {
    width: 100%;
}

.seo:hover {
    background-image: linear-gradient(
        rgb(25, 133, 161) 10%,
        rgba(62, 121, 136, 0.931) 90%);
        opacity: 60%;
    z-index: 1;
}

/* .main-work{
    flex-grow: 2 1 1;
    align-self: center;
} */

/* 
.second-container {
    display: flex;
    flex: initial;
    justify-content: flex-start;
} 

.third-container {
    display: flex;
    justify-content: flex-end;
} */

/* .sections . h3 {
text-align: inherit 50px left;
} */

.profile {
    width: 30%;
    height: auto;
    display: inline-block;
    margin: 5px 40px 5px 5px;
}

.theme-box {
    white-space: pre-wrap;
    overflow: auto;
    padding: 1.2rem 1rem;
    font-size: 3rem;
    color: var(--background-colour);
    border-radius: 8px;
    background-image: linear-gradient(
        rgb(25, 133, 161) 10%,
        rgba(62, 121, 136, 0.931) 90%);
        opacity: 39%;
    display: flex;
    align-items: center;
}

.follow-me {
    display: flex;
}

.footer-surname {
    color: var(--secondary-text-colour);
}

.logos {
    width: 5%;
    display: flex;
    justify-content: center;
}

/* ------------------------- Form stylings ------------------------- */

#submit {
    background-color: var(--background-colour);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:2px;
    padding: 8px;
    margin-left: 180px;
    color: var(--primary-text-colour);
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#submit:hover {
    border: none;
    color: var(--background-colour);
    background:var(--secondary-text-colour);
    box-shadow: 0px 0px 1px var(--background-colour);
}

/* #submit:after {} */

/* ------------------------- Media Quiries ------------------------- */
